* {
  /* border: 1px red solid; */
  margin: 0;
  font-family: arial,sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  }

header.advanced {
  border-bottom: 0.1px solid black;
  padding: 10px;
  }


nav.one {
  text-align: right;
  height: 40px;
  padding-top: 10px;
  padding-right: 10px;
}

h3 {
margin-left: 20px;
color: #f28b82;
}

a {
  position: relative;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  margin-left: 10px;
  /* border: 1px solid black;
  padding: 2px; */
  
}

a:hover {
  text-decoration: underline;
}

.h1 {
  min-height: 320px;  
  display: grid;

  }

h1 {
  position: relative;
  align-self: end;
  padding:5px;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.span-blue {
  color: rgb(60, 88, 226);
}
.span-red {
  color: red;
}
.span-yellow {
  color: rgb(240, 230, 44);
}
.span-green {
  color: rgb(52, 147, 46);
}




h4.images {
position: absolute;
margin-left: 1100px;
top: 330px;
}

span {
  margin: 0 0px 0 0px;
}


form div.navbar input{
  display: block;
  margin: auto;
  height: 35px;
  width: 590px;
  border-radius: 20px;
  border: 1px solid grey;
}



div.buttons {
display: flex;
justify-content: center;
margin-top: 30px;
}

.click-buttons {
  width: 150px;
  height: 30px;
  border: 0.1px solid gray;
  border-radius: 5px;
 margin-right: 10px;
}

.click-buttons:hover {
  border: 1px solid rgba(1, 1, 1, 0.891);
  cursor: pointer; 
}

form {
  padding: 20px;
}

td h4 {
  text-align: left;
}

td {
padding: 10px;
font-size: 15px;
}
